spec:
  inputs:
    pipeline_type:
      description: "Type of pipeline to run"
      type: string
      default: "build-images"
      options:
        - "build-images"
        - "build-containers"
    distro_name:
      description: "Name of the distribution"
      type: string
      default: ""
    distro_versions:
      description: "Versions of the distribution"
      type: array
      default: [""]
    distro_editions:
      description: "Editions of the distribution"
      type: array
      default: [""]
    remove_artefacts:
      description: "Remove artefacts after deployment"
      type: boolean
      default: true
    image_datastore_id:
      description: "OpenNebula datastore ID for the images"
      type: number
      default: 100
    image_name_prefix:
      description: "Prefix for the image & template names in OpenNebula"
      type: string
      default: ""
    image_name_suffix:
      description: "Suffix for the image & template names in Opennebula"
      type: string
      default: " $CI_PIPELINE_ID"
    debug:
      description: "Enable debug mode"
      type: boolean
      default: false
---

variables:
    GIT_SUBMODULE_FORCE_HTTPS: true
    GIT_SUBMODULE_STRATEGY: normal
    DATA_VOLUME_PATH: /mnt/data
    DIR_EXPORT: $DATA_VOLUME_PATH/$CI_PIPELINE_ID/export
    DIR_BUILD: $DATA_VOLUME_PATH/$CI_PIPELINE_ID/build
    CONTEXT_WINDOWS_OUT: $DATA_VOLUME_PATH/$CI_PIPELINE_ID/context-windows-out
    CONTEXT_LINUX_OUT: $DATA_VOLUME_PATH/$CI_PIPELINE_ID/context-linux-out
    PACKER_CACHE_DIR: $DATA_VOLUME_PATH/packer_cache
    PACKER_PLUGIN_PATH: $DATA_VOLUME_PATH/packer_plugins
    LOCK_FILE_PATH: $DATA_VOLUME_PATH/one.lock
    IMAGE_DATASTORE_ID: $[[ inputs.image_datastore_id ]]
    IMAGE_NAME_PREFIX: $[[ inputs.image_name_prefix ]]
    IMAGE_NAME_SUFFIX: $[[ inputs.image_name_suffix ]]
    DEBUG: $[[ inputs.debug ]]

default:
  image: $CI_REGISTRY_IMAGE/one-apps-builder
  before_script:
  - umask 0022

stages:
  - build-containers
  - prepare-dependencies
  - build-images
  - deploy-images
  - cleanup
  - delete-images

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "web"

.images:
  variables:
    INPUT_DIR: "one-apps"
    OUTPUT_DIR: "one-apps/export"
    PACKER_HEADLESS: "true"
  parallel:
    matrix:
    - DISTRO_NAME: $[[ inputs.distro_name ]]
      DISTRO_VER: $[[ inputs.distro_versions ]]
      DISTRO_EDITION: $[[ inputs.distro_editions ]]

build-containers-job:
  stage: build-containers
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-containers"'
  image:
    name: quay.io/podman/stable
    docker:
      user: podman
  variables:
    FULL_IMAGE_NAME: $CI_REGISTRY_IMAGE/$IMAGE_NAME
  parallel:
    matrix:
    - IMAGE_NAME:
        - one-apps-builder
        - context-builder
        - linux-builder
        - windows-builder
        - image-deployer
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | podman login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - podman build -t "$FULL_IMAGE_NAME" -f "containers/$IMAGE_NAME.dockerfile"
    - podman push "$FULL_IMAGE_NAME"

.build-addon-context-job:
  image: $CI_REGISTRY_IMAGE/context-builder
  variables:
    GIT_SUBMODULE_PATHS: one-apps
    DISTRO_NAME: $[[ inputs.distro_name ]]
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: prepare-dependencies
  before_script:
    - if [ "$DEBUG" = "true" ]; then VERBOSE="1";else VERBOSE="0"; fi
  cache:
    key: addon-context-cache
    paths:
      - one-apps/context-*/out/*
    policy: pull-push

build-addon-context-linux-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images" && "$[[ inputs.distro_name ]]" != "windows"'
  extends: .build-addon-context-job
  script:
    - mkdir -p "$CONTEXT_LINUX_OUT"
    - make -C one-apps context-linux VERBOSE="$VERBOSE"
    - cp -R one-apps/context-linux/out/* "$CONTEXT_LINUX_OUT"

build-addon-context-windows-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images" && "$[[ inputs.distro_name ]]" == "windows"'
  extends: .build-addon-context-job
  script:
    - mkdir -p "$CONTEXT_WINDOWS_OUT"
    - make -C one-apps context-windows VERBOSE="$VERBOSE"
    - cp -R one-apps/context-windows/out/* "$CONTEXT_WINDOWS_OUT"

download-virtio-drivers-job:
  image:
    name: quay.io/curl/curl:latest
    entrypoint: [""]
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images" && "$[[ inputs.distro_name ]]" == "windows"'
  stage: prepare-dependencies
  variables:
    VIRTIO_ISO_PATH: one-apps/packer/windows/iso/virtio-win.iso
  script:
    - if [ "$DEBUG" = "true" ]; then VERBOSE_FLAG="-v"; fi
    - curl $VERBOSE_FLAG -L -R -o "$VIRTIO_ISO_PATH" --time-cond "$VIRTIO_ISO_PATH" 'https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/latest-virtio/virtio-win.iso'
  cache:
    key: virtio-drivers-cache
    paths:
      - one-apps/packer/windows/iso/virtio-win.iso
    policy: pull-push

.build-images-job:
  stage: build-images
  extends: .images
  variables:
    GIT_SUBMODULE_PATHS: one-apps
  script:
    - if [ "$DEBUG" = "true" ]; then PACKER_LOG=1; VERBOSE=1; else PACKER_LOG=0; VERBOSE=0; fi
    - make -C one-apps "${DISTRO_NAME}${DISTRO_VER}${DISTRO_EDITION}" DIR_EXPORT="$DIR_EXPORT" DIR_BUILD="$DIR_BUILD" PACKER_LOG="$PACKER_LOG" PACKER_HEADLESS=true VERBOSE="$VERBOSE"

build-linux-images-job:
  extends: .build-images-job
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images" && "$[[ inputs.distro_name ]]" != "windows"'
  image: $CI_REGISTRY_IMAGE/linux-builder
  before_script:
    - mkdir -p one-apps/context-linux/out
    - cp -rf "$CONTEXT_LINUX_OUT"/* one-apps/context-linux/out/

build-windows-images-job:
  extends: .build-images-job
  cache:
    - key: virtio-drivers-cache
      paths:
        - one-apps/packer/windows/iso/virtio-win.iso
      policy: pull
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images" && "$[[ inputs.distro_name ]]" == "windows"'
  image: $CI_REGISTRY_IMAGE/windows-builder
  before_script:
    - mkdir -p one-apps/context-windows/out
    - cp -rf "$CONTEXT_WINDOWS_OUT"/* one-apps/context-windows/out/

deploy-images-job:
  image:
    name: $CI_REGISTRY_IMAGE/image-deployer
    docker:
      user: root
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: deploy-images
  extends: .images
  variables:
    DIR_DEV: /host_dev/
  script:
    - ./deploy_image.py

cleanup-job:
  stage: cleanup
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images" && "$[[ inputs.remove_artefacts ]]" == "true"'
  when: always
  script:
    rm -rf "$DATA_VOLUME_PATH/$CI_PIPELINE_ID"

delete-images-job:
  image: $CI_REGISTRY_IMAGE/image-deployer
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: delete-images
  script:
    - ./delete_images.py
  when: manual
  manual_confirmation: 'Are you sure you want to delete the added template with images?'