variables:
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_FORCE_HTTPS: true
    IMAGE_NAME: "$CI_REGISTRY_IMAGE/one-apps-builder"
    BUILD_TYPE:
      value: "images"
      description: "Which pipeline to creste (buid one-apps-builder image or build one-apps images)"
      options:
        - "one-apps-builder"
        - "images"

.images:
  variables:
    INPUT_DIR: "one-apps"
    OUTPUT_DIR: "one-apps/export"
    PACKER_HEADLESS: "true"
  parallel:
    matrix:
    - DISTRO_NAME:
      - windows
      DISTRO_VER: 
        - 10
        - 11
      DISTRO_EDITION: 
        - Home
        - Pro
        - Education

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "web"

default:
  image: $IMAGE_NAME

stages:
  - build-container
  - build-addon-context
  - build-images
  - deploy-images
  - delete-images

build-container-job:
  rules:
    - if: $BUILD_TYPE == "one-apps-builder"
  variables:
    GIT_SUBMODULE_PATHS: ":(exclude)one-apps"
  image:
    name: quay.io/podman/stable
    docker:
      user: podman
  stage: build-container
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | podman login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - echo "Building container..."
    - podman build -t "$IMAGE_NAME" .
    - echo "Uploading container..."
    - podman push "$IMAGE_NAME"


build-addon-context-job:
  rules:
    - if: $BUILD_TYPE == "images"
  stage: build-addon-context
  script:
    - make -C one-apps context-iso
  artifacts:
    paths:
      - one-apps/export/one-context.iso

build-images-job:
  rules:
    - if: $BUILD_TYPE == "images"
  stage: build-images
  extends: .images
  script:
    - make -C one-apps "${DISTRO_NAME}${DISTRO_VER}${DISTRO_EDITION}"

deploy-images-job:
  rules:
    - if: $BUILD_TYPE == "images"
  stage: deploy-images
  script:
    - echo "Deploying images to Stratus FI..."
    - echo "Images successfully deployed."

delete-images-job:
  rules:
    - if: $BUILD_TYPE == "images"
  stage: delete-images
  script:
    - echo "Removing VM template..."
    - echo "VM template removed successfully."
  when: manual
  manual_confirmation: 'Are you sure you want to delete the added template with images?'