variables:
    IMAGE_NAME: "$CI_REGISTRY_IMAGE/one-apps-builder"

image: $IMAGE_NAME

stages:
  - build-container
  - build-addon-context
  - build-images
  - deploy-images
  - delete-images

build-container-job:
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $BUILD_TYPE == "one-apps-builder"
  image:
    name: quay.io/podman/stable
    docker:
      user: podman
  stage: build-container
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | podman login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - echo "Building container..."
    - podman build -t "$IMAGE_NAME" .
    - echo "Uploading container..."
    - podman push "$IMAGE_NAME"


build-addon-context-job:
  stage: build-addon-context
  script:
    - echo "Building context windows"
    - echo "Building context linux"

build-images-job:
  stage: build-images
  script:
    - echo "Building images using packer..."
    - echo "Build complete."

deploy-images-job:
  stage: deploy-images
  script:
    - echo "Deploying images to Stratus FI..."
    - echo "Images successfully deployed."

delete-images-job:
  stage: delete-images
  script:
    - echo "Removing VM template..."
    - echo "VM template removed successfully."
  when: manual
  manual_confirmation: 'Are you sure you want to delete the added template with images?'