spec:
  inputs:
    pipeline_type:
      description: "Type of pipeline to run"
      type: string
      default: "build-images"
      options:
        - "build-images"
        - "build-containers"
    distro_name:
      description: "Name of the distribution"
      type: string
      default: ""
    distro_versions:
      description: "Versions of the distribution"
      type: array
      default: [""]
    distro_editions:
      description: "Editions of the distribution"
      type: array
      default: [""]
    remove_images:
      description: "Remove images after deployment"
      type: boolean
      default: true
    image_datastore_id:
      description: "OpenNebula datastore ID for the images"
      type: number
      default: 100
    image_name_prefix:
      description: "Prefix for the image & template names in OpenNebula"
      type: string
      default: ""
    image_name_suffix:
      description: "Suffix for the image & template names in Opennebula"
      type: string
      default: " $CI_PIPELINE_ID"
---

variables:
    GIT_SUBMODULE_FORCE_HTTPS: true
    GIT_SUBMODULE_STRATEGY: normal
    DIR_EXPORT: /mnt/data/$CI_PIPELINE_ID/export
    DIR_BUILD: /mnt/data/$CI_PIPELINE_ID/build
    PACKER_CACHE_DIR: /mnt/data/packer_cache
    IMAGE_DATASTORE_ID: $[[ inputs.image_datastore_id ]]
    IMAGE_NAME_PREFIX: $[[ inputs.image_name_prefix ]]
    IMAGE_NAME_SUFFIX: $[[ inputs.image_name_suffix ]]

default:
  image: $CI_REGISTRY_IMAGE/one-apps-builder
  before_script:
  - umask 0022

stages:
  - build-containers
  - prepare-dependencies
  - build-images
  - deploy-images
  - delete-images

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "web"

.images:
  variables:
    INPUT_DIR: "one-apps"
    OUTPUT_DIR: "one-apps/export"
    PACKER_HEADLESS: "true"
  parallel:
    matrix:
    - DISTRO_NAME: $[[ inputs.distro_name ]]
      DISTRO_VER: $[[ inputs.distro_versions ]]
      DISTRO_EDITION: $[[ inputs.distro_editions ]]

build-one-apps-builder-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-containers"'
  variables:
    IMAGE: $CI_REGISTRY_IMAGE/one-apps-builder
  image:
    name: quay.io/podman/stable
    docker:
      user: podman
  stage: build-containers
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | podman login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - podman build -t "$IMAGE" -f Containerfile
    - podman push "$IMAGE"

build-context-builder-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-containers"'
  variables:
    IMAGE: $CI_REGISTRY_IMAGE/context-builder
  image:
    name: quay.io/podman/stable
    docker:
      user: podman
  stage: build-containers
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | podman login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - podman build -t "$IMAGE" -f context-builder.dockerfile
    - podman push "$IMAGE"

build-image-deployer-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-containers"'
  variables:
    IMAGE: $CI_REGISTRY_IMAGE/image-deployer
  image:
    name: quay.io/podman/stable
    docker:
      user: podman
  stage: build-containers
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | podman login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - podman build -t "$IMAGE" -f image-deployer.dockerfile
    - podman push "$IMAGE"

build-addon-context-job:
  image: $CI_REGISTRY_IMAGE/context-builder
  variables:
    GIT_SUBMODULE_PATHS: one-apps
    DISTRO_NAME: $[[ inputs.distro_name ]]
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: prepare-dependencies
  script:
    - if [ "$DISTRO_NAME" = "windows" ]; then TARGET="context-windows"; else TARGET="context-linux"; fi
    - make -C one-apps "$TARGET"
  cache:
    key: addon-context-cache
    paths:
      - one-apps/context-*/out/*
    policy: pull-push

download-virtio-drivers-job:
  image:
    name: quay.io/curl/curl:latest
    entrypoint: [""]
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images" && "$[[ inputs.distro_name ]]" == "windows"'
  stage: prepare-dependencies
  variables:
    VIRTIO_ISO_PATH: one-apps/packer/windows/iso/virtio-win.iso
  script:
    - curl -L -R -o "$VIRTIO_ISO_PATH" --time-cond "$VIRTIO_ISO_PATH" 'https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/latest-virtio/virtio-win.iso'
  cache:
    key: virtio-drivers-cache
    paths:
      - one-apps/packer/windows/iso/virtio-win.iso
    policy: pull-push

build-images-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: build-images
  extends: .images
  cache:
    - key: addon-context-cache
      paths:
        - one-apps/context-*/out/*
      policy: pull
    - key: virtio-drivers-cache
      paths:
        - one-apps/packer/windows/iso/virtio-win.iso
      policy: pull
  variables:
    GIT_SUBMODULE_PATHS: one-apps
  script:
    - make -C one-apps "${DISTRO_NAME}${DISTRO_VER}${DISTRO_EDITION}" DIR_EXPORT="$DIR_EXPORT" DIR_BUILD="$DIR_BUILD"

deploy-images-job:
  image: $CI_REGISTRY_IMAGE/image-deployer
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: deploy-images
  extends: .images
  variables:
    DIR_DEV: /host_dev/
  script:
    - ./deploy_image.py
    - if $[[ inputs.remove_images ]]; then rm -f $DIR_EXPORT/${DISTRO_NAME}${DISTRO_VER}${DISTRO_EDITION}.*; fi

delete-images-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: delete-images
  script:
    - echo "Removing VM template..."
    - echo "VM template removed successfully."
  when: manual
  manual_confirmation: 'Are you sure you want to delete the added template with images?'