spec:
  inputs:
    pipeline_type:
      description: "Type of pipeline to run"
      type: string
      default: "build-images"
      options:
        - "build-images"
        - "build-containers"
    distro_name:
      description: "Name of the distribution"
      type: string
      default: ""
    distro_versions:
      description: "Versions of the distribution"
      type: array
      default: [""]
    distro_editions:
      description: "Editions of the distribution"
      type: array
      default: [""]
---

variables:
    GIT_SUBMODULE_FORCE_HTTPS: true
    GIT_SUBMODULE_STRATEGY: normal
    DIR_EXPORT: /export/$CI_PIPELINE_ID/export
    DIR_BUILD: /export/$CI_PIPELINE_ID/build

default:
  image: $CI_REGISTRY_IMAGE/one-apps-builder

stages:
  - build-containers
  - prepare-dependencies
  - build-images
  - deploy-images
  - delete-images

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "web"

.images:
  variables:
    INPUT_DIR: "one-apps"
    OUTPUT_DIR: "one-apps/export"
    PACKER_HEADLESS: "true"
  parallel:
    matrix:
    - DISTRO_NAME: $[[ inputs.distro_name ]]
      DISTRO_VER: $[[ inputs.distro_versions ]]
      DISTRO_EDITION: $[[ inputs.distro_editions ]]

build-one-apps-builder-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-containers"'
  variables:
    IMAGE: $CI_REGISTRY_IMAGE/one-apps-builder
  image:
    name: quay.io/podman/stable
    docker:
      user: podman
  stage: build-containers
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | podman login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - podman build -t "$IMAGE" -f Containerfile
    - podman push "$IMAGE"

build-context-builder-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-containers"'
  variables:
    IMAGE: $CI_REGISTRY_IMAGE/context-builder
  image:
    name: quay.io/podman/stable
    docker:
      user: podman
  stage: build-containers
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | podman login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - podman build -t "$IMAGE" -f context-builder.dockerfile
    - podman push "$IMAGE"

build-addon-context-job:
  image: $CI_REGISTRY_IMAGE/context-builder
  variables:
    GIT_SUBMODULE_PATHS: one-apps
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: prepare-dependencies
  script:
    - make -C one-apps context-iso DIR_EXPORT="$DIR_EXPORT"
  cache:
    key: addon-context-cache
    paths:
      - one-apps/context-*/out/*
      - "$DIR_EXPORT/one-context.iso"
    policy: push

download-virtio-drivers-job:
  image:
    name: quay.io/curl/curl:latest
    entrypoint: [""]
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images" && "$[[ inputs.distro_name ]]" == "windows"'
  stage: prepare-dependencies
  variables:
    VIRTIO_ISO_PATH: one-apps/packer/windows/iso/virtio-win.iso
  script:
    - curl -L -R -o "$VIRTIO_ISO_PATH" --time-cond "$VIRTIO_ISO_PATH" 'https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/latest-virtio/virtio-win.iso'
  cache:
    key: virtio-drivers-cache
    paths:
      - one-apps/packer/windows/iso/virtio-win.iso
    policy: pull-push

build-images-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: build-images
  extends: .images
  cache:
    - key: addon-context-cache
      paths:
        - one-apps/context-*/out/*
        - "$DIR_EXPORT/one-context.iso"
      policy: pull
    - key: virtio-drivers-cache
      paths:
        - one-apps/packer/windows/iso/virtio-win.iso
      policy: pull
  variables:
    GIT_SUBMODULE_PATHS: one-apps
  script:
    - make -C one-apps "${DISTRO_NAME}${DISTRO_VER}${DISTRO_EDITION}" DIR_EXPORT="$DIR_EXPORT" DIR_BUILD="$DIR_BUILD"

deploy-images-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: deploy-images
  script:
    - ls -la "$DIR_EXPORT"

delete-images-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: delete-images
  script:
    - echo "Removing VM template..."
    - echo "VM template removed successfully."
  when: manual
  manual_confirmation: 'Are you sure you want to delete the added template with images?'