spec:
  inputs:
    image_name:
      description: "Name of the image to build"
      type: string
      default: "one-apps-builder"
    pipeline_type:
      description: "Type of pipeline to run"
      type: string
      default: "build-images"
      options:
        - "build-images"
        - "build-containers"
    distro_name:
      description: "Name of the distribution"
      type: string
      default: "windows"
    distro_versions:
      description: "Versions of the distribution"
      type: array
      default: ["10"]
    distro_editions:
      description: "Editions of the distribution"
      type: array
      default: ["Home", "Pro", "Education"]
---

variables:
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_FORCE_HTTPS: true
    
default:
  image: $[[ inputs.image_name ]]

stages:
  - build-container
  - build-addon-context
  - download-virtio-drivers
  - build-images
  - deploy-images
  - delete-images

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: $CI_PIPELINE_SOURCE == "web"

.images:
  variables:
    INPUT_DIR: "one-apps"
    OUTPUT_DIR: "one-apps/export"
    PACKER_HEADLESS: "true"
  parallel:
    matrix:
    - DISTRO_NAME: $[[ inputs.distro_name ]]
      DISTRO_VER: $[[ inputs.distro_versions ]]
      DISTRO_EDITION: $[[ inputs.distro_editions ]]

build-container-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-containers"'
  variables:
    GIT_SUBMODULE_PATHS: ":(exclude)one-apps"
    IMAGE: $CI_REGISTRY_IMAGE/$[[ inputs.image_name ]]
  image:
    name: quay.io/podman/stable
    docker:
      user: podman
  stage: build-container
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | podman login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  script:
    - echo "Building container..."
    - podman build -t "$IMAGE" .
    - echo "Uploading container..."
    - podman push "$IMAGE"

build-addon-context-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: build-addon-context
  script:
    - make -C one-apps context-iso
  artifacts:
    paths:
      - one-apps/context-*/out/*
      - one-apps/export/one-context.iso

build-images-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: build-images
  extends: .images
  script:
    - curl 'https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/latest-virtio/virtio-win.iso' -L -o one-apps/packer/windows/iso/virtio-win.iso
    - make -C one-apps "${DISTRO_NAME}${DISTRO_VER}${DISTRO_EDITION}"

deploy-images-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: deploy-images
  script:
    - echo "Deploying images to Stratus FI..."
    - echo "Images successfully deployed."

delete-images-job:
  rules:
    - if: '"$[[ inputs.pipeline_type ]]" == "build-images"'
  stage: delete-images
  script:
    - echo "Removing VM template..."
    - echo "VM template removed successfully."
  when: manual
  manual_confirmation: 'Are you sure you want to delete the added template with images?'