NAME = "one-apps-builder"
CONTEXT = [
  CI_SERVER_TOKEN = "$CI_SERVER_TOKEN",
  CI_SERVER_URL = "$CI_SERVER_URL",
  CONCURRENT_JOBS = "$CONCURRENT_JOBS",
  CONTAINER_ENGINE = "$CONTAINER_ENGINE",
  CRYPTED_PASSWORD = "$USER[CRYPTED_PASSWORD]",
  DEV_PREFIX = "sd",
  EJECT_CDROM = "YES",
  NETWORK = "YES",
  PASSWORD = "$USER[PASSWORD]",
  SSH_PUBLIC_KEY = "$USER[SSH_PUBLIC_KEY]",
  START_SCRIPT_BASE64 = "",
  USERNAME = "$USER[USERNAME]",
  VM_ID = "$VMID" ]
CPU = "0.01"
CPU_MODEL = [
  FEATURES = "svm",
  MODEL = "EPYC-IBPB" ]
DISK = [
  DEV_PREFIX = "sd",
  DISCARD = "unmap",
  IMAGE = "Debian 13.0.0",
  IMAGE_UNAME = "oneadmin",
  TARGET = "sda" ]
DISK = [
  DEV_PREFIX = "vd",
  FORMAT = "raw",
  SIZE = "512",
  TYPE = "swap" ]
FEATURES = [
  ACPI = "yes",
  APIC = "yes",
  GUEST_AGENT = "yes",
  HYPERV = "no",
  LOCALTIME = "yes",
  PAE = "yes",
  VIRTIO_BLK_QUEUES = "auto",
  VIRTIO_SCSI_QUEUES = "auto" ]
GRAPHICS = [
  LISTEN = "0.0.0.0",
  RANDOM_PASSWD = "YES",
  TYPE = "VNC" ]
HOT_RESIZE = [
  CPU_HOT_ADD_ENABLED = "YES",
  MEMORY_HOT_ADD_ENABLED = "YES" ]
HYPERVISOR = "kvm"
INPUTS_ORDER = "CI_SERVER_URL,CI_SERVER_TOKEN,CONTAINER_ENGINE"
LOGO = "images/logos/debian.png"
MEMORY = "768"
MEMORY_MAX = "524288"
MEMORY_RESIZE_MODE = "HOTPLUG"
MEMORY_SLOTS = "256"
MEMORY_UNIT_COST = "MB"
NIC = [
  NETWORK = "503-usrpriv",
  NETWORK_UNAME = "oneadmin",
  SECURITY_GROUPS = "0",
  SSH = "YES" ]
OS = [
  ARCH = "x86_64",
  BOOT = "disk0",
  FIRMWARE = "BIOS",
  MACHINE = "q35",
  SD_DISK_BUS = "scsi" ]
SCHED_REQUIREMENTS = "(HYPERVISOR=kvm)"
USER_INPUTS = [
  CI_SERVER_TOKEN = "M|password|Gitlab runner token| |",
  CI_SERVER_URL = "M|text|Gitlab CI server url| |https://gitlab.fi.muni.cz",
  CONCURRENT_JOBS = "O|number|Number of concurrent jobs to run| |1",
  CONTAINER_ENGINE = "M|list|Container Engine|podman,docker|podman" ]
VCPU = "1"
VCPU_MAX = "256"